

.tree_width_summary table {
  width: 250% !important;
}
.tree_width_summary table thead > tr > th:nth-child(1){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(2){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(3){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(4){
  width: 15% !important;
}
.tree_width_summary table thead > tr > th:nth-child(5){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(6){
  width: 15% !important;
}
.tree_width_summary table thead > tr > th:nth-child(7){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(8){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(9){
  width: 15% !important;
}
.tree_width_summary table thead > tr > th:nth-child(10){
  width: 15% !important;
}
.tree_width_summary table thead > tr > th:nth-child(11){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(12){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(13){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(14){
  width: 10% !important;
}

