
.tree_width_summary table {
  width: 200% !important;
}
.tree_width_summary table thead > tr > th:nth-child(1){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(2){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(3){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(4){
  width: 12% !important;
}
.tree_width_summary table thead > tr > th:nth-child(5){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(6){
  width: 12% !important;
}
.tree_width_summary table thead > tr > th:nth-child(7){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(8){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(9){
  width: 12% !important;
}
.tree_width_summary table thead > tr > th:nth-child(10){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(11){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(12){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(13){
  width: 10% !important;
}
.tree_width_summary table thead > tr > th:nth-child(14){
  width: 10% !important;
}





.tree_width_location table {
  width: 100% !important;
}
.tree_width_location table thead > tr > th:nth-child(1){
  width: 33% !important;
}
.tree_width_location table thead > tr > th:nth-child(2){
  width: 33% !important;
}
.tree_width_location table thead > tr > th:nth-child(3){
  width: 33% !important;
}



.res_po_line table {
  width: 210% !important;
}
.res_po_line table thead > tr > th:nth-child(1){
  width: 5% !important;
}
.res_po_line table thead > tr > th:nth-child(2){
  width: 5% !important;
}
.res_po_line table thead > tr > th:nth-child(3){
  width: 10% !important;
}
.res_po_line table thead > tr > th:nth-child(4){
  width: 10% !important;
}
.res_po_line table thead > tr > th:nth-child(5){
  width: 10% !important;
}
.res_po_line table thead > tr > th:nth-child(6){
  width: 7% !important;
}
.res_po_line table thead > tr > th:nth-child(7){
  width: 7% !important;
}
.res_po_line table thead > tr > th:nth-child(8){
  width: 7% !important;
}
.res_po_line table thead > tr > th:nth-child(9){
  width: 10% !important;
}
.res_po_line table thead > tr > th:nth-child(10){
  width: 10% !important;
}
.res_po_line table thead > tr > th:nth-child(11){
  width: 11% !important;
}
.res_po_line table thead > tr > th:nth-child(12){
  width: 10% !important;
}
.res_po_line table thead > tr > th:nth-child(13){
  width: 7% !important;
}
.res_po_line table thead > tr > th:nth-child(14){
  width: 7% !important;
}
.res_po_line table thead > tr > th:nth-child(15){
  width: 11% !important;
}
.res_po_line table thead > tr > th:nth-child(16){
  width: 8% !important;
}
.res_po_line table thead > tr > th:nth-child(17){
  width: 9% !important;
}
.res_po_line table thead > tr > th:nth-child(18){
  width: 2% !important;
}






