
.po_line table {
  width: 150% !important;
}
.po_line table thead > tr > th:nth-child(1){
  width: 5% !important;
}
.po_line table thead > tr > th:nth-child(2){
  width: 12% !important;
}
.po_line table thead > tr > th:nth-child(3){
  width: 13% !important;
}
.po_line table thead > tr > th:nth-child(4){
  width: 10% !important;
}
.po_line table thead > tr > th:nth-child(5){
  width: 7% !important;
}
.po_line table thead > tr > th:nth-child(6){
  width: 7% !important;
}
.po_line table thead > tr > th:nth-child(7){
  width: 7% !important;
}
.po_line table thead > tr > th:nth-child(8){
  width: 7% !important;
}
.po_line table thead > tr > th:nth-child(9){
  width: 7% !important;
}
.po_line table thead > tr > th:nth-child(10){
  width: 10% !important;
}
.po_line table thead > tr > th:nth-child(11){
  width: 7% !important;
}
.po_line table thead > tr > th:nth-child(12){
  width: 7% !important;
}
.po_line table thead > tr > th:nth-child(13){
  width: 10% !important;
}
.po_line table thead > tr > th:nth-child(14){
  width: 10% !important;
}
.po_line table thead > tr > th:nth-child(15){
  width: 0% !important;
}
.po_line table thead > tr > th:nth-child(16){
  width: 10% !important;
}
